*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 0 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f2f2f2;
  margin: 0 auto;    
  padding: 10px;
  width: 755px;
  height: 2700px;
}

.breakfast {
  position: relative;
  width: 702px;
  height: 530px;
  margin-top: 31px;
  margin-left: 20px
}

.hot {
  position: relative;
  width: 702px;
  height: 410px;
  margin-top: 48px;
  margin-left: 20px
}

.salads {
  position: relative;
  width: 702px;
  height: 410px;
  margin-top: 45px;
  margin-left: 20px
}

.soups {
  position: relative;
  width: 702px;
  height: 530px;
  margin-top: 45px;
  margin-left: 20px
}

.main {
  position: relative;
  width: 702px;
  height: 530px;
  margin-top: 45px;
  margin-left: 20px
}
  
.head-txt {
  color: #511604;
  width: 200px;
  height: 21px;
  font-size: 28px;
  font-weight: 500;
  float: left;
}

.block {
  width: 700px;
  height: 95px;
  margin-top: 24px;
  float: left;
  border-radius: 25px;
}

.block:hover {
  box-shadow:  3px 3px 10px rgb(110, 110, 110);
  border-bottom: black;
  transform: scale(1.1);
}

span {
  width: 710px;
  height: 5px;
  margin-top: 40px;
  background-image: url(../img/wave.png);
  background-repeat: repeat-x;
  display: inline-block;
}
  
img {
  float: left;
  border-radius: 25px;
}

.meal {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px; 
  font-weight: 400;
  height: 19px;
  width: auto;
  color: #b88f3f;
  margin-left:22px;
  margin-top:5px;
  float: left;
}

.meal:hover {
  color: #969505;
  scale: 1 2;
}

.dots {
  height: 20px;
  margin-right: 60px;
  margin-top: 5px;
  overflow: hidden;
  border-bottom: 1.5px dotted #A8A8A8;
}

.dots::after {
  position: absolute;
  content: "$ 3.00";
  height: 20px;
  right: 10px;
  font-family: Impact, sans-serif;
  font-size: 20px;
  color: #969505;
}

.descript {
  font-family: Haettenschweiler,  sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 36px;
  width: 536px;
  margin-left:22px;
  margin-top:25px;
  color: #62737a;
  float: left;
}
  
.breakfast .block:nth-child(4) .dots::after,
.soups .block:nth-child(4) .dots::after,
.main .block:nth-child(4) .dots::after {
  content: "$ 4,50"
}
  
.breakfast .block:nth-child(5) .dots::after,
.hot .block:nth-child(5) .dots::after {
  content: "$ 12,50"
}
  
.breakfast .block:nth-child(6) .dots::after,
.salads .block:nth-child(5) .dots::after {
  content: "$ 10,50"
}
  
.hot .block:nth-child(3) .dots::after,
.salads .block:nth-child(4) .dots::after {
  content: "$ 8,50"
}
  
.hot .block:nth-child(4) .dots::after,
.soups .block:nth-child(3) .dots::after,
.main .block:nth-child(3) .dots::after {
  content: "$ 6,50"
}
  
.soups .block:nth-child(5) .dots::after,
.main .block:nth-child(5) .dots::after {
  content: "$ 18,50"
}
  
.soups .block:nth-child(6) .dots::after,
.main .block:nth-child(6) .dots::after {
  content: "$ 7,15"
}